<label>Email: </label>
<input type="text" [(ngModel)]="utente.email">
<br><br>
<label>Nome: </label>
<input type="text" [(ngModel)]="utente.nome">
<br><br>
<label>Cognome: </label>
<input type="text" [(ngModel)]="utente.cognome">
<br><br>
<label>Data Di Nascita: </label>
<input type="Date" [(ngModel)]="utente.dataNascita">
<br><br>
<label>Username: </label>
<input type="text" [(ngModel)]="utente.username">
<br><br>
<label>Ruolo: </label>
<select [(ngModel)]="utente.ruolo">
  <option value="CLIENTE">Cliente</option>
  <option value="DIPENDENTE">Dipendente</option>
  <option value="MANAGER">Manager</option>
</select>
<br><br>
<button (click)="modificaUtente()">Modifica utente</button>
<br><br>
<button (click)="redirectGestioneUtenti()">
  Torna a gestione utenti
</button>
