<p>Inserisci un voto:</p>
<select [(ngModel)]="votoRecensione">
  <option value="" selected></option>
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
</select>
<p>Inserisci il testo</p>
<textarea [(ngModel)]="testoRecensione"></textarea>
  <br><br>
<button (click)="inviaRecensione()">Invia</button>
<br><br>
<p>Funzionalità</p>
<button (click)="redirectMieiAppuntamenti()">
  Torna ai miei appuntamenti
</button>
