<p>Ecco la tua valutazione media: {{valutazioneMedia}}</p>
<br><br>
<p>I tuoi appuntamenti: </p>

<ng-container *ngFor="let appuntamentoDipendente of appuntamentiDipendente">
  <p>Data: {{appuntamentoDipendente.dataOra | date:'yyyy-MM-dd'}} Ora: {{appuntamentoDipendente.dataOra | date:'HH:mm:ss'}}</p>
  <p>Veicolo: {{appuntamentoDipendente.marcaVeicolo}} {{appuntamentoDipendente.modelloVeicolo}}, targa: {{appuntamentoDipendente.targaVeicolo}} </p>
  <p>Cliente: {{appuntamentoDipendente.nomeCliente}} {{appuntamentoDipendente.cognomeCliente}}</p>
  <button *ngIf="appuntamentoDipendente.dataPassata" (click)="redirectRegistraVendita(appuntamentoDipendente.id)">
    Registra vendita
  </button>
  <br>
</ng-container>
<br>
<p>Appuntamenti liberi: </p>
<ng-container *ngFor="let appuntamentoLibero of appuntamentiLiberi">
  <p>Data: {{appuntamentoLibero.dataOra | date:'yyyy-MM-dd'}} Ora: {{appuntamentoLibero.dataOra | date:'HH:mm:ss'}}</p>
  <p>Veicolo: {{appuntamentoLibero.marcaVeicolo}} {{appuntamentoLibero.modelloVeicolo}}, targa: {{appuntamentoLibero.targaVeicolo}} </p>
  <p>Cliente: {{appuntamentoLibero.nomeCliente}} {{appuntamentoLibero.cognomeCliente}}</p>
  <button (click)="prendiInCarico(appuntamentoLibero.id)">
    Prendi in carico
  </button>
  <br>
</ng-container>
