<input type="text" required placeholder="Email" [(ngModel)]="email" />
<input
  type="date"
  required
  placeholder="Data di nascita"
  [(ngModel)]="dataNascita"
/>
<input type="text" required placeholder="Username" [(ngModel)]="username" />
<input type="text" required placeholder="Password" [(ngModel)]="password" />
<input
  type="text"
  required
  placeholder="Ripeti password"
  [(ngModel)]="passwordRipetuta"
/>
<div>
  <button (click)="registra()" [disabled]="password != passwordRipetuta">
    Registrati
  </button>
</div>

<a routerLink="/login">Accedi</a>
