
<p>Targa: {{veicolo?.targa}}</p>
<p>Marca: {{veicolo?.marca}}</p>
<p>Modello: {{veicolo?.modello}}</p>
<p>Chilometraggio: {{veicolo?.chilometraggio}}</p>
<p>Anno Di Produzione: {{veicolo?.annoProduzione}}</p>
<p>Potenza in CV: {{veicolo?.potenzaCv}}</p>
<p>Alimentazione: {{veicolo?.alimentazione}}</p>
<p>Prezzo: {{veicolo?.prezzo}}</p>
<br><br>
<p>Funzionalità</p>
<button routerLink="/prenota/{{veicolo?.id}}">
  Prenota un appuntamento
  </button>
<br>
<button routerLink="/homeCliente">
  Torna alla HomePage
</button>
