<ng-container *ngIf="veicolo?.immagine">
  <img src="data:image/png;base64,{{ veicolo?.immagine }}" width="100" height="100">
</ng-container>
<p>Targa: {{veicolo?.targa}}</p>
<p>Marca: {{veicolo?.marca}}</p>
<p>Modello: {{veicolo?.modello}}</p>
<p>Chilometraggio: {{veicolo?.chilometraggio}}</p>
<p>Anno Di Produzione: {{veicolo?.annoProduzione}}</p>
<p>Potenza in CV: {{veicolo?.potenzaCv}}</p>
<p>Alimentazione: {{veicolo?.alimentazione}}</p>
<p>Prezzo: {{veicolo?.prezzo}}</p>
<br><br>
<p>Funzionalità</p>
<ng-container *ngIf="veicolo?.stato == 'DISPONIBILE' && accessoEffettuato">
  <button (click)="redirectPrenotazioneVeicolo()">
    Prenota un appuntamento
  </button>
</ng-container>
<br><br>
<button (click)="redirectHomepageCliente()">
  Torna alla HomePage
</button>
