<p>Ecco tutti i veicoli:</p>
<br>
<label>Seleziona lo stato dei veicoli da visualizzare</label>
<br>
<select [(ngModel)]="statoVeicolo">
  <option value="" selected></option>
  <option value="DISPONIBILE">Disponibile</option>
  <option value="TRATTATIVA">Trattativa</option>
  <option value="VENDUTO">Venduto</option>
</select>
<br>
<div *ngFor="let veicolo of veicoli">
  <ng-container *ngIf="statoVeicolo=='' || veicolo.stato.toUpperCase()==statoVeicolo">
    <p>Marca: {{ veicolo.marca }}</p>
    <p>Modello: {{ veicolo.modello }}</p>
    <p>Prezzo: {{ veicolo.prezzo }}</p>
    <button (click)="redirectDettagliVeicolo(veicolo.id)">
      Visualizza dettagli
    </button>
    <br><br>
  </ng-container>
</div>
<br><br>
<p>Funzionalità:</p>
<button *ngIf="!accessoEffettuato" (click)="redirectLogin()">
  Accedi
</button>
<button *ngIf="accessoEffettuato" (click)="redirectRicerca()">
  Cerca un veicolo
</button>
<br><br>
<button *ngIf="accessoEffettuato" (click)="redirectIMieiAppuntamenti()">
  I miei appuntamenti
</button>
<br><br>
<button *ngIf="accessoEffettuato" (click)="logout()">
  Logout
</button>
