<label>Targa: </label>
<input type="text" [(ngModel)]="veicolo.targa">
<br><br>
<label>Marca: </label>
<input type="text" [(ngModel)]="veicolo.marca">
<br><br>
<label>Modello: </label>
<input type="text" [(ngModel)]="veicolo.modello">
<br><br>
<label>Chilometraggio: </label>
<input type="number" [(ngModel)]="veicolo.chilometraggio">
<br><br>
<label>Anno Di Produzione: </label>
<input type="number" [(ngModel)]="veicolo.annoProduzione">
<br><br>
<label>Potenza in CV: </label>
<input type="number" [(ngModel)]="veicolo.potenzaCv">
<br><br>
<label>Alimentazione: </label>
<select [(ngModel)]="veicolo.alimentazione">
  <option value="BENZINA">Benzina</option>
  <option value="DIESEL">Diesel</option>
  <option value="IBRIDA">Ibrida</option>
  <option value="GPL">Gpl</option>
  <option value="ELETTRICA">Elettrica</option>
</select>
<br><br>
<label>Prezzo: </label>
<input type="number" [(ngModel)]="veicolo.prezzo">
<br><br>
<button (click)="modificaVeicolo()">Modifica veicolo</button>
<br><br>
<button (click)="redirectGestioneVeicoli()">
  Torna a gestione veicoli
</button>
